{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% load custom_tags %}

{% block content %}
    <h1>Posts</h1>

    {% if user.is_authenticated %}
    <a href="{% url 'add_post' %}">Add new post</a>
    <a href="{% url 'show_reply' %}">Show my posts</a>
    <a href="{% url 'show_reply' %}">Show my replies</a>
    {% endif %}

    {% if homepage %}
        <table>
            <tr>
                <td>Title</td>
                <td>Text</td>
                <td>Category</td>
                <td>Files</td>
                <td>Author</td>
            </tr>

            {% for post in homepage %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.files }}</td>
                <td>{{ post.author }}</td>

                <td>
                    <a href="{% url 'view_post' pk=post.id %}">Reply</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h2>There is no posts</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}