{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Title: {{ post_view.title }}</h1>
<h1>Text: {{ post_view.text }}</h1>
<h1>Category: {{ post_view.category }}</h1>
<h1>Author: {{ post_view.author }}</h1>
<h1>{{ post_view.files }}</h1>

    {% if user.is_authenticated %}
    <form id="reply" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% else %}
    <h1>'Login to reply'</h1>
    {% endif %}
{% endblock content %}