{% extends 'flatpages/default.html' %}

{% block title %}
Reply
{% endblock title %}

{% block content %}
    <h1>Reply</h1>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Search" />
    </form>

    {% if show_reply %}
        <table>
            <tr>
                <td>Title</td>
                <td>Text</td>
                <td>Category</td>
                <td>Files</td>
                <td>Reply</td>
            </tr>

            {% for post in show_reply %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.files }}</td>

                {% if user.is_authenticated %}
                <td>
                    {% for reply in post.reply.all %}
                    <a href="{% url 'confirm_reply' reply.id %}">Confirm {{ reply }}</a>
                    <a href="{% url 'delete_reply' reply.id %}">Delete {{ reply }}</a>
                    {% endfor %}
                </td>

                <td>
                    <a href="{% url 'update_post' pk=post.id %}">Update</a>
                    <a href="{% url 'delete_post' pk=post.id %}">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h2>There is no posts</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}